# Attributes for a JDK-project.
#
# Attributes of this mod can be applied to any JDK-project.
#
# Auto detect text and leave files detected as binary untouched.
# Set default behaviour to automatically normalize line endings.
#
# Parameter will handle files not defined below.
*                           text=auto

# Formatting the endings of different files to normalize a text.
#
# Code including files for documentation. Do not touch the 
# article because of IDE to normalize file endings.
*.coffee                    text
*.css                       text
*.htm                       text diff=html
*.html                      text diff=html
*.inc                       text
*.ini                       text
*.js                        text
*.json                      text
*.jsx                       text
*.less                      text
*.ls                        text
*.map                       text -diff
*.od                        text
*.onlydata                  text
*.php                       text diff=php
*.pl                        text
*.ps1                       text
*.py                        text diff=python
*.rb                        text diff=ruby
*.sass                      text
*.scm                       text
*.scss                      text diff=css
*.sql                       text
*.styl                      text
*.tag                       text
*.ts                        text
*.tsx                       text
*.xml                       text
*.xhtml                     text diff=html

# Branch of the source program code separately from the documentation.
#
# You can add custom settings for some different file types. In case
# of adding filter settings ensure commenting additional code.
*.java                      text diff=java
*.javaclass                 text diff=java 

# Source text files of documentation.
#
# Files of different types from article could be ignored by the
# repository. In this case comment unnecessary files.
*.ipynb                     text
*.markdown                  text
*.md                        text
*.mdwn                      text
*.mdown                     text
*.mkd                       text
*.mkdn                      text
*.mdtxt                     text
*.mdtext                    text
*.txt                       text
AUTHORS                     text
CHANGELOG                   text
CHANGES                     text
CONTRIBUTING                text
COPYING                     text
copyright                   text
*COPYRIGHT*                 text
INSTALL                     text
license                     text
LICENSE                     text
NEWS                        text
*PATCHNOTE*                 text
readme                      text
*README*                    text
TODO                        text

# Configurations of environment.
#
# Don't touch article because of settings of IDE.
*.cnf                       text
*.cfg                       text
*.conf                      text
*.config                    text
.editorconfig               text
.env                        text
.gitattributes              text
.gitconfig                  text
.htaccess                   text
*.lock                      text -diff
package-lock.json           text -diff
*.toml                      text
*.yaml                      text
*.yml                       text
browserslist                text
Makefile                    text
makefile                    text

# Dockerfile of project.
#
# Docker takes away repetitive mundane configuration tasks
# and implements inside the project.
Dockerfile                  text

# Force batch scripts to always use CRLF endings so that if a repository is accessed
# in Windows via a file share from Linux, the scripts will work.
*.{cmd,[cC][mM][dD]}        text eol=crlf
*.{bat,[bB][aA][tT]}        text eol=crlf

# Force bash scripts to always use LF endings so that if a repository is accessed
# in Unix via a file share from Windows, the scripts will work.
*.{sh,[sS][hH]}             text eol=crlf

# Graphics of the project via vector.
#
# Article of this required of LFS to be installed.
*.ai                        binary
*.bmp                       binary
*.eps                       binary
*.gif                       binary
*.gifv                      binary
*.ico                       binary
*.jng                       binary
*.jp2                       binary
*.jpg                       binary
*.jpeg                      binary
*.jpx                       binary
*.jxr                       binary
*.pdf                       binary
*.png                       binary
*.psb                       binary
*.psd                       binary

# SVG is being treated as binary by default.
*.svg                       text

# Audio of the project via MIDI.
#
# Article of this required of LFS to be installed.
*.kar                       binary
*.m4a                       binary
*.mid                       binary
*.midi                      binary
*.mp3                       binary
*.ogg                       binary
*.ra                        binary

# Video of the project via encrypted.
#
# Article of this required of LFS to be installed.
*.3gpp                      binary
*.3gp                       binary
*.as                        binary
*.asf                       binary
*.asx                       binary
*.fla                       binary
*.flv                       binary
*.m4v                       binary
*.mng                       binary
*.mov                       binary
*.mp4                       binary
*.mpeg                      binary
*.mpg                       binary
*.ogv                       binary
*.swc                       binary
*.swf                       binary
*.webm                      binary

# Archives of the project.
#
# Article of this required of LFS to be installed.
*.7z                        binary
*.gz                        binary
*.jar                       binary
*.rar                       binary
*.tar                       binary
*.zip                       binary

# Fonts of the project.
#
# Article of this required of LFS to be installed.
*.ttf                       binary
*.eot                       binary
*.otf                       binary
*.woff                      binary
*.woff2                     binary

# Executables of the project.
#
# Article of this required of LFS to be installed.
*.exe                       binary
*.pyc                       binary

# RC files of the project.
#
# Files of static code analysis for identifying problematic
# patterns of different programming languages.
*.*rc                       text

# Ignore of the project.
#
# Files of static code analysis for ignoring different
# types of project files.
*.*ignore                   text
