#
# Covering of IDEs alike of IntelliJ IDEA.
#
# For the reference see official website article about IntelliJ IDEA.
#
# Specificated configurations of user in IDE.
.idea/

# Results of testing the source program.
**/test/

# In-workspace files built by IDE.
# Excluding libraries/required context from ignore.
build/_applyBinpatches_2
build/_atJar_6
build/_compileJava_3
build/_compileJava_5
build/_postProcess_2
build/_renameJarInPlace_7
build/classes
build/createSrgToMcp
build/createMcpToSrg
build/downloadMCMeta
build/downloadMcpConfig
build/extractSrg
build/fg_cache
build/natives
build/tmp
build/reobfJar

# Debugging environment.
run/

# Imported packages of Gradle-environment.
.gradle/

# File-based project formatting.
*.iws

# JIRA XML of plugin.
atlassian-ide-plugin.xml

# Modules of IntelliJ IDEA.
.idea_modules/
