#
# Covering of IDEs alike of IntelliJ IDEA.
#
# For reference see at official website of IntelliJ IDEA.
# 
# Specified configurations by user of IDE.
.idea/

#
# Result of testing the source program.
**/test/

#
# In-workspace files built by IDE.
# Do not ignoring the imported libraries for open-source
# projects but ignoring the other content.
build/_applyBinpatches_2
build/_atJar_6
build/_compileJava_3
build/_compileJava_5
build/_postProcess_2
build/_renameJarInPlace_7
build/classes
build/createSrgToMcp
build/createMcpToSrg
build/downloadMCMeta
build/downloadMcpConfig
build/extractSrg
build/fg_cache
build/natives
build/tmp
build/reobfJar

#
# Ignoring relative built-in version of program.
build/libs/**/

#
# Ignoring debugging environment.
run/

#
# Imported packages of Gradle environment.
.gradle/

#
# Maven with Gradle via auto-import.
# In case of using Gradle via Maven with auto-import, ensure you exclude
# module files since they will be recreated and may cause churn.
# *.iml
# *.ipr

#
# Built of CMake.
cmake-build-*/

#
# File-based project formatting.
*.iws 

#
# Output of IntelliJ IDEA IDE.
out/

#
# JIRA XML of plugin.
atlassian-ide-plugin.xml

#
# Modules of IntelliJ IDEA.
.idea_modules/

#
# Crashlytics via AS and IntelliJ IDEA.
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
